@import './HomePage/HomePage.scss';



.ui-btn{
    background-color: #EA3691 !important;
    font-weight: 400 !important;
    border-radius: 50px !important;
    font-size: 22px !important;
    text-transform: capitalize !important;
    padding: 10px 30px !important;
    color: white !important;
}
